@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root{
    --lightGrayishBlue: hsl(240, 75%, 98%);
    --veryDarkBlue: hsl(243, 87%, 12%);
    --desaturatedBlue: hsl(238, 22%, 44%);
    --pink:rgb(236, 75, 102);
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.5rem;
}
.container {
    background-color: var(--lightGrayishBlue);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2.5em;
    padding: 0 1em;
}
h1{
    color: var(--desaturatedBlue);
    font-family: monospace;
}
.calculator__box {
    /* width: min(35rem, 100%); */
    padding: 2rem;
    background-color:var(--desaturatedBlue);
    border-radius: 0.6rem;
    box-shadow: 0 0 5px #ddd;
}
#calculator__display {
    width: 100%;
    border: none;
    outline: none;
    height: 6rem;
    margin-bottom: 1.5em;
    padding: 0.5em;
    font-size: 1.4em;
    text-align: right;
    color: var(--veryDarkBlue);
    box-shadow: inset 0 0 4px #ddd;
    border-radius: inherit;
}
.calculator__buttons {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1em;
}
.calculator__buttons button {
    background-color: #eee;
    border-radius: 0.6rem;
    padding: 1rem;
    border: none;
    font-size: 1.2em;
    font-weight: 700;
    cursor: pointer;
}
button.operator:not(:last-child){
    color: var(--pink);
}
button.operator:last-child {
    background-color:var(--pink);
    color: var(--lightGrayishBlue);
}